.ph-checkout-zasilkovna-box {
    margin-left: 1em;
}

.ph-checkout-zasilkovna-box .btn.ph-btn-zasilkovna-select-pickup-point {
    background: #ba1a01;
    color: #fff;
}

.ph-checkout-shipping-info-box.ph-checkout-zasilkovna-info-box {
    /*display: inline-block;*/
    clear:both;
    display: inline-flex;
    margin: 0;
    padding: 0;
    padding-left: 0.25em;
 }
.ph-checkout-zasilkovna-info-name {
    padding: 0.5em;
}
.ph-checkout-zasilkovna-info-container {
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
}
.ph-checkout-zasilkovna-info-label {
    padding-top: 0;
}

.ph-checkout-zasilkovna-info-photo img {
    border-radius: 3px;
}
